<!DOCTYPE html>
<html lang="en">
​

<head>
  <!-- Meta Information -->
  <title>My Story Book! - Home Page</title>
  ​
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <!-- External CSS -->
  ​
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    type="text/css" />
  ​
  <link href="https://fonts.googleapis.com/css?family=Bungee&display=swap" rel="stylesheet" />
  ​
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400i,700&display=swap" rel="stylesheet" />

  <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">

  ​
  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  ​
  <!-- Nav CSS -->
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  ​
  <!-- Header CSS -->
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link href="https://fonts.googleapis.com/css2?family=Sniglet&display=swap" rel="stylesheet">
  ​
  ​
  <!-- External JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
  <script src="https://kit.fontawesome.com/cd7e20452a.js"></script>
  ​
  <!-- App JS -->
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/jquery-app.js"></script>
  ​
</head>
​

<body>
  <!-- Top nav bar (fixed) -->
  <nav class="navbar" id="logo">
    <!-- <h1> My Story Book </h1> -->
    ​<span class="avatar-container"> <img class="avatar" src="https://puu.sh/FjZ8h/9018270184.png">User: Jimmy Newtron
    </span>
    <span id="compose">My Story Book <i class="far fa-laugh bounce"></i></span>
    <a href="/stories" class="redirect">
      <h1 class="home">HOME</h1>
    </a>
  </nav>
  <header id="header">
  </header>
  ​
  <div class="friends-story">
    <div class="story-header">


    </div>
    <table class="table">
      <thead>
        <tr class="contribution-table">
          <h1 class="title-text">Title</h1>
          <p class="title-text"><%=contribution[0].titles%></p>
          <h1 class="title-text">Story</h1>
          <p class="story-text"><%=contribution[0].storytext%></p>

        </tr>
      </thead>
      <tbody>
        <h1 class="cont-header">Author:</h1>
        <% for(let key of contribution) {%>
        <tr>
          <td class="td"><%= key.contributiontext%></td>

        </tr>
        <tr>
          <td>- Author: <%= key.name%></td>
        </tr>
        <%}%>
        </tbody>
      </table> ​
    </div>

    <footer class="foot">
    <% if (story.is_completed === false ) {%>
        <form action="/story/contribution" method="POST">
          <input type="hidden" name="id" value=<%=contribution[0].id%>></input>
          <input name="text" type="text"></input>
          <button type="submit" class="btn btn-primary">ADD TO THE STORY </button> </form> ​
        <form method="POST" action="/story/completed/<%= story.id%>"><button type="SUBMIT" class="markompleted">MARK
            COMPLETED
          </button></form>
        <%}%>
        <p class="in-progress"> <%= helper.truecheck(story.is_completed)%></p>

        </footer>
</body>
​

</html>
